.appbox {
  background-color: var(--card-bg);
  padding: 30px;
  border-radius: 16px; /* Yuvarlak köşeler */
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1); /* Yumuşak gölge */
  width: 100%;
  max-width: 450px; /* Maksimum genişlik */
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: -0.5px;
}
